input {
  border-radius: 5px;
  border: none;
  padding-left: 1%;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
}

h1 {
  color: white;
  font-weight: bolder;
}


body {
  background: rgb(229, 126, 255);
  background: linear-gradient(
    90deg,
    rgb(178, 9, 220) 12%,
    rgba(6, 132, 216, 1) 100%
  );
  height: 100%;
}

#color-yellow {
  color: yellow;
}

.px-10 {
  padding: 1% 8% 0% 8%;
}

.px-6 {
  padding: 0.5% 4% 0% 4%;
}
.placeholder {
  padding-left: -3%;
}

.bg-primary {
  background-color: darkblue !important;
}

#tasks {
  background-color: aliceblue;
  margin: 3% auto;
  padding: 2%;
  width: 40%;
  border-radius: 10px;
  cursor: pointer;
}

.completed{
  text-decoration: line-through;
  color: green;
}